
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>

@{ 
    var xmlLogDetails = (Dictionary<string, string>)ViewBag.LogDetails;

    foreach (var log in xmlLogDetails)
    {
        <p>@log.Key.Split('-')[0]: @log.Value.Split('-')[0]</p>
    }
}