@page
@model Chapter4.Tuples.CoreRazorWebApp.Pages.EmployeeModel
@{
    ViewData["Title"] = "Employee";
}

<h2>Employee</h2>

<p>
    <h2>@ViewData["FirstName"] @ViewData["LastName"]</h2> 
    <h3>(@ViewData["YearsOfExperience "] years of experience)</h3>
</p>

